<!doctype html>
<html ng-app="demo">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script type="text/javascript" src="/js/first.js"></script>
<title>Hello World!</title>
</head>
<body>
	<h1>Welcome</h1>
	<div ng-controller="Hello">

		<table border="1">
			<th>ID</th>
			<th>Student Name</th>
			<th> Course Name </th>
			<tr ng-repeat="x in students">
				<td>{{ x.id }}</td>
				<td>{{ x.name }}</td>
				<td>{{ x.course}}</td>
			</tr>
		</table>

		<form action="/logout" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>

</body>
</html>